:root {
  --dark: #292929;
  --dark-light: #3d3d3d;
  --green-light: #b4e9b2;
  --green-lighter: #e0f1e0;
  --round: 10px;
  --round-light: 7px;
}

.text-green {
  color: var(--green-light);
  position: relative;
}

.App {
  font-family: "Comic Sans MS";
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: center;
}

html {
  background-color: var(--green-lighter);
}

h3 {
  transition: all 0.2s ease-in-out;
}

h3:hover {
  cursor: pointer;
  background: var(--dark);
  border-radius: var(--round-light);
  padding: 0.3em;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 0.6em auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

ul li:hover {
  background: var(--dark);
  border-radius: var(--round-light);
  padding: 0.6em;
}

.list {
  text-align: left;
}

.order {
  padding: 1.4em;
  margin: 0.6em;
  margin-top: 15px;
  background-color: var(--dark);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: var(--round);
}

.order__header {
  background-color: var(--dark-light);
  margin: 0.2em;
  padding: 0.3em;
  border-radius: var(--round-light);
}

.order__body {
  background-color: var(--dark-light);
  margin: 0.2em;
  padding: 0.5em;
  border-radius: var(--round-light);
  border-radius: var(--round-light);
}

.order:hover {
  transform: scale(1.05);
}
